.canvasWrapper {
  position: fixed;
  right: 10px;
  top: 0;
  height: 100svh;
  width: 50svw;
}
.canvasWrapper canvas {
  /* height: 700px !important;
  object-fit: cover;
  object-position: center; */
}
